# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[BUILD]
indent_size = 4

[CMakeLists.*]
indent_size = 4

[*.h,*.cpp]
indent_size = 4

[*.md]
indent_size = 2

[*.sh, *.html, *.js, *.jsx]
indent_size = 2

[*.scala]
indent_size = 2
